<div class="col-lg-12">

    <? if (@$this->message): ?>
    <br>
    <div class="col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4" style="text-align: center">
        <div class="alert-danger">
            <?= $this->message; ?>
        </div>
    </div>
    <? endif; ?>

    <br><br>
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">

            <form action="/login/" method="POST" enctype="multipart/form-data"  style="border: 1px solid #ccc; padding: 10px 20px 5px;">

                <div class="form-group">
                    <label class="control-label">Электронный адрес</label>
                    <input type="login" name="form[username]" class="form-control">
                </div>

                <div class="form-group">
                    <label class="control-label">Пароль</label>            
                    <input type="password" name="form[password]" class="form-control">
                </div>

                <div class="form-group pull-left">
                    <input type="reset" class="btn btn-default" value="Сброс">
                </div>
                
                <div class="form-group pull-right">
                    <input type="submit" class="btn btn-primary" value="Войти">
                </div>

                <div class="clearfix"></div>
                
            </form>
        </div>
    </div>

</div>