<div class="col-lg-12">
    <h1>
        HTTP 404
    </h1>
    <h4>
        Ошибка 404 или Not Found («не найдено») — стандартный код ответа HTTP о 
        том, что клиент был в состоянии общаться с сервером, но сервер не может 
        найти данные согласно запросу. Ошибку 404 не следует путать с ошибкой 
        «Сервер не найден» или иными ошибками, указывающими на ограничение 
        доступа к серверу. Ошибка 404 означает, что запрашиваемый ресурс может 
        быть доступен в будущем, что однако не гарантирует наличие прежнего 
        содержания.
    </h4>
</div>