<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="<?= isset($this->description) ? $this->description : null; ?>">
        <meta name="keywords" content="<?= isset($this->keywords) ? $this->keywords : null; ?>">
        <meta name="author" content="<?= isset($this->autor) ?  $this->autor : null; ?>">
        <link rel="shortcut" href="/favicon.ico" type="image/x-icon">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <title><?= isset($this->title) ? $this->title : null; ?></title>
    </head>
    <body>
        
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Slim2MVC<sup>v<?= VERSION ?></sup></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <?php 
                            $app = \Slim\Slim::getInstance();
                            $uri = $app->request()->getResourceUri();
                        ?>
                        <li class="<?= ($uri == "/") ? "active" : null; ?>"><a href="/">Главная</a></li>
                        <li class="<?= ($uri == "/about/") ? "active" : null; ?>"><a href="/about/">О программе</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><?= $this->user->realname; ?></a></li>
                        <li><a href="/logout/">Выход</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <br><br><br>
        <div class="container">
            <div class="row">

                <?= $yield; ?>

            </div>
        </div>
        
    </body>
</html>