<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="<?= isset($this->description) ? $this->description : null; ?>">
        <meta name="keywords" content="<?= isset($this->keywords) ? $this->keywords : null; ?>">
        <meta name="author" content="<?= isset($this->autor) ?  $this->autor : null; ?>">
        <link rel="shortcut" href="/favicon.ico" type="image/x-icon">
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <title><?= isset($this->title) ? $this->title : null; ?></title>
    </head>
    <body>
        
        <div class="container">
            <div class="row">

                <?= $yield; ?>

            </div>
        </div>
        
    </body>
</html>